<%- include('../includes/head.ejs') %> <%- include('../includes/nav.ejs') %>
<div class="container mt-5">
  <form action="/posts/<%= post.id %>/edit" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        value="<%= post.title %>"
        placeholder="Enter title"
      />
    </div>
    <div class="form-group">
      <label for="imageUrl">Top Image URL</label>
      <input
        type="textL"
        class="form-control"
        id="imageUrl"
        name="imageUrl"
        value="<%= post.imageUrl %>"
        placeholder="Enter Image URL"
      />
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        name="content"
        rows="6"
      >
<%= post.content %></textarea
      >
    </div>
    <input type="hidden" name="postId" value="<%= post.id %>" />
    <button type="submit" class="btn btn-primary mr-3">Submit</button>
    <a href="/posts/<%= post.id %>" class="btn btn-secondary">Cancel</a>
  </form>
</div>
<%- include('../includes/end.ejs') %>
