<%- include('../includes/head.ejs') %> <%- include('../includes/nav.ejs') %>
<div class="container mt-5">
  <form action="/posts/<%= post.id %>/edit"  method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label class="font-weight-bold" for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        value="<%= post.title %>"
        placeholder="Enter title"
      />
    </div>
    <div class="form-group">
      <label class="font-weight-bold" for="image">Top Image </label>
      <div class="mb-3 font-italic">Current Image:
        <img src="data:<%= post.imageData.contentType %>;base64,<%= post.imageData.data.toString('base64') %>" alt="<%= post.title %>" width="200">
      </div>
      <input
        type="file"
        id="image"
        name="image"
        required
      />
    </div>
    <div class="form-group">
      <label class="font-weight-bold" for="content">Content</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        name="content"
        rows="6"
      >
<%= post.content %></textarea
      >
    </div>
    <input type="hidden" name="postId" value="<%= post.id %>" />
    <button type="submit" class="btn btn-primary mr-3">Submit</button>
    <a href="/posts/<%= post.id %>" class="btn btn-secondary">Cancel</a>
  </form>
</div>
<%- include('../includes/end.ejs') %>
