<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/single-post.css">
<%- include('../includes/nav.ejs') %>
<div class="container mt-5">
  <h1><%= post.title %> </h1>
  <img src="http://localhost:8000/<%= post.imageUrl %>" alt="<%= post.title %>" width="100">

  <p><%= post.content %> </p>



  <a href="/post/edit-post" class="btn btn-secondary">Edit</a>

  <a href="/posts/<%= post.id %>/comments">Comments</a>

</div>
<%- include('../includes/end.ejs') %>
